<div class="container-lg bg-primary text-white">
  <nav class="navbar">
    <div class="container-lg">
    <ul class="navbar navbar-expand-sm bg-dark navbar-dark">

      <li class="nav-item">
        <a routerLink="member-home" class="nav-link" routerLinkActive="active">Home</a>
      </li>

      <li class="nav-item">
        <a routerLink="member-view" class="nav-link" routerLinkActive="active">MemberMaster</a>
      </li>

      <li class="nav-item">
        <a routerLink="member-grid" class="nav-link" routerLinkActive="active">MemberGrid</a>
      </li> 

      <li class="nav-item dropdown">
        <a routerLink="" data-toggle="dropdown" class="nav-link" routerLinkActive="active">Reports-English</a> 
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#part1">TalukaWise Count</a>
          <a class="dropdown-item" href="#part2">VillageWise(E) Report</a>
          <a class="dropdown-item" href="#part3">All Para Query</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a routerLink="" data-toggle="dropdown" class="nav-link" routerLinkActive="active">Reports-Marathi</a> 
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://mvpsamaj.boldreports.com/reporting/en-us/reports/3bf40ad5-10a4-40ba-b84d-4d95e6833ea4/Sample%20Reports/MemberRepo2Marathi">VillageWise(M) Report</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a routerLink="" data-toggle="dropdown" class="nav-link" routerLinkActive="active">Miscellaneous</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Send SMS->Members</a>
        </div>
      </li> 

      <li class="nav-item">
        <a routerLink="member-about" class="nav-link" routerLinkActive="active">About</a>
      </li> 
     &nbsp;&nbsp;
      <form class="form-inline" action="/action_page.php">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </ul>
  </div>
</nav>
</div> 


<div id="part1"> 
  <!--- <object type="text/html" data="https://mvpsamaj.boldreports.com/reporting/en-us/reports/c21b0926-9058-4c94-933c-6265b932afdf/Sample%20Reports/MemberRepo1Eng" width="800px" height="600px" >
  </object>   --->
     <h1>In Part1</h1>
</div> 

<div id="part2"> 
  <h1>In Part2</h1>
</div> 

<div id="part3"> 
  <h1>In Part3</h1>
</div> 

<!--- Following code is important, must there. -->
<!----<app-member-view></app-member-view> will rout this form only---> 
<!---if u using Routing then this is necessary for routing perticular form forms -->  
  <router-outlet></router-outlet> 
<!---
   <div name="report1MarathiVillageWise">     
    <object type="text/html" data="https://mvpsamaj.boldreports.com/reporting/en-us/reports/c21b0926-9058-4c94-933c-6265b932afdf/Sample%20Reports/MemberRepo1Eng" width="800px" height="600px" > 
     </object>
   </div> 
-->