<!---Form Status: {{ memberViewFbForm.status }}  -->

<div class="container-lg p-3 my-3 bg-primary text-white border">
  <div class="card-deck">  
    <div class="card bg-secondary text-white">  <!--1st Card-->

      <Form [formGroup]="memberViewFbForm" (ngSubmit)="onSubmit()"> 
      <div class="form-row align-items-center">  <!--For Aligned controls, otherwise all in one col.-->
        <div class="Form-group">
          <label class="col-form-label">Member No. </label>
          <input formControlName="MemNo" type="text" class="form-control form-control-sm" minlength="5" style="width: 50px;" [class.is-invalid]="memberViewFbForm.get('MemNo').invalid && memberViewFbForm.get('MemNo').touched">
          <!---->
        </div>
        
        <div class="Form-group">
          <label class="col-form-label">Reg.No. </label>
          <input formControlName="RegNo" type="text" class="form-control form-control-sm" style="width: 40px;" [class.is-invalid]="memberViewFbForm.get('RegNo').invalid && memberViewFbForm.get('RegNo').touched">
          <!----->
        </div>

        <div class="Form-group" >
          <label>Member Name </label>
          <input formControlName="MemberName" type="text"  class="form-control form-control-sm" style="width: 200px;" [class.is-invalid]="memberViewFbForm.get('MemberName').invalid && memberViewFbForm.get('MemberName').touched">
          <small [class.d-none] ="memberViewFbForm.get('MemberName').valid || memberViewFbForm.get('MemberName').untouched" class="text-danger">Name required *</small> 
        </div>       
        
        <div class="Form-group">
          <label>Address : </label>
          <input formControlName="Addr1" type="text" class="form-control form-control-sm" style="width: 100px;" >
        </div>

        <div class="Form-group">
          <input formControlName="Addr2" type="text" class="form-control form-control-sm" style="width: 100px;">
        </div>
    
        <div class="Form-group">
          <label>Village</label>
          <input formControlName="Village" name="village" type="text" class="form-control form-control-sm" style="width: 100px;">
        </div>

      <div> <!-- Button -->
        <button class="btn btn-primary" type="submit"> Submit </button>
      </div>    
      </div> <!---Form Align Control-->
      </Form>
    
    </div> <!---1st Cards-->

    <div class="card bg-secondary text-white"> <!---2nd Card-->

      <div class="Form-group">
        <label>Village</label>
      </div>

    </div> <!--- 2nd Card-->

    <div class="card bg-secondary text-white" style="max-width: 120px;">  <!--Photo Card-->
      <img class="card-img-top" src="./assets/malePlaceholder.png" alt="Member Photo">
    </div>  <!---Photo Card -->
  </div> <!--- Card Deck --->
  <div>
     <footer>
      <p>Maratha Vidya Prasarak Samaj, Nashik-422002 &copy; 2018</p>
    </footer>
  </div>
</div>  <!---Top Container-->

Form Values: {{ memberViewFbForm.value | json}}
