.container-lg {
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100px;
  font-style: normal;
  
}

.card {
    box-shadow: 0 4px 8px 0 rgba(89, 12, 190, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 8px 8px;

  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(255,100,0,100.2);
  }
  
  .ng-valid[required], .ng-valid.required  {
    border-left: 3px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 3px solid #a94442; /* red */
  }

  footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
  }
  
  input[type=text] {
    background-color: rgb(245, 250, 248);
    color: rgb(26, 25, 25);
    float: left;
    /*width: 40px;*/
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  input:focus {
    outline: 3px solid gold;
  }

    label {
      float: left;
      width: 60px;
    }
  
    
   /* button {
      float: right;
      width: calc(100% - 200px);
    } */
  
  /* for Buttons Fix Width - Next, Previous, Top, Bottom */
   .custom {
      width: 78px !important;
  }